/* DARK THEME */

body.dark {
  background-image: url('/img/background-dark.jpg');
  background-repeat: repeat;
  background-color: #212529;
  color: #fff;
  
  /* background repeats but no scroll */
  background-attachment: fixed;

  /* background-size: cover; */
  /* background-position: center; */
}

body.dark header.masthead .page-heading,
body.dark header.masthead .post-heading,
body.dark header.masthead .site-heading {
  color: #fff;
}

body.dark .post-preview>a {
  color: #fff;
}

body.dark .post-preview>.post-meta {
  color: #6c757d;
}

body.dark .pagination {

  color: #f8f9fa;

  --bs-pagination-color: #f8f9fa;
  --bs-pagination-bg: #343a40;
  --bs-pagination-border-color: transparent;

  --bs-pagination-hover-color: #343a40;
  --bs-pagination-hover-bg: #f8f9fa;
  --bs-pagination-hover-border-color: transparent;

  --bs-pagination-focus-color: #f8f9fa;
  --bs-pagination-focus-bg: #343a40;
  --bs-pagination-focus-box-shadow: 0 0 0 0.15rem #f8f9faa0;

  --bs-pagination-active-color: #f8f9fa;
  --bs-pagination-active-bg: #343a40;
  --bs-pagination-active-border-color: transparent;

  --bs-pagination-disabled-color: #f8f9fa;
  --bs-pagination-disabled-bg: #272b2f;
  --bs-pagination-disabled-border-color: transparent;
}

body.dark .nav-custom {
  color: #ffffff95;
}

body.dark .nav-link-custom {
  color: #ffffffe1;
}

body.dark .nav-icon-custom {
  background-color: transparent;
}

body.dark .nav-link-custom:hover {
  color: white !important;
}

body.dark a {
  color: #ffffffe1;
}

body.dark a:hover,
body.dark button:hover {
  color: white !important;
  text-shadow: -2px 0px 13px rgba(255, 255, 255, 0.8);
}

/* WHEN TEXT IS SELECTED */
::-moz-selection { /* Code for Firefox */
  /* color: #6c757d; */
  background: #6c757d90;
}

::selection {
  /* color: #6c757d; */
  background: #6c757d90;
}
/* END WHEN TEXT IS SELECTED */

/* NAVBAR SM */
body.dark .nav_custom_sm a:hover,
body.dark .nav_custom_sm button:hover {
  color: white !important;
  text-shadow: -2px 0px 13px rgba(255, 255, 255, 0.8);
}

body.dark .nav_custom_sm .nav-link-custom,
body.dark .nav_custom_sm .nav-icon-custom {
  color: #ffffffe1;
}