/* DO NOT DELETE NO THEME IMG OPACITY */
body.notheme img{
  opacity: 0;
}

body.notheme {
  background-image: none;
  background-repeat: none;
  background-color: #727272;
  color: #727272;

  /* background repeats but no scroll */
  /* background-attachment: fixed; */

  /* background-size: cover; */
  /* background-position: center; */
}

body.notheme header.masthead .page-heading,
body.notheme header.masthead .post-heading,
body.notheme header.masthead .site-heading {
  color: #727272;
}

body.notheme .post-preview>a {
  color: #727272;
}

body.notheme .post-preview>.post-meta {
  color: #727272;
}

body.notheme .pagination {

  color: #727272;

  --bs-pagination-color: #727272;
  --bs-pagination-bg: #727272;
  --bs-pagination-border-color: transparent;

  --bs-pagination-hover-color: #727272;
  --bs-pagination-hover-bg: #727272;
  --bs-pagination-hover-border-color: transparent;

  --bs-pagination-focus-color: #727272;
  --bs-pagination-focus-bg: #727272;
  --bs-pagination-focus-box-shadow: 0 0 0 0.15rem #727272;

  --bs-pagination-active-color: #727272;
  --bs-pagination-active-bg: #727272;
  --bs-pagination-active-border-color: transparent;

  --bs-pagination-disabled-color: #727272;
  --bs-pagination-disabled-bg: #727272;
  --bs-pagination-disabled-border-color: transparent;
}

body.notheme .nav-custom {
  color: #727272;
}

body.notheme .nav-link-custom {
  color: #727272;
}

body.notheme .nav-icon-custom {
  background-color: transparent;
}

body.notheme .nav-link-custom:hover {
  color: #727272 !important;
}

body.notheme a {
  color: #727272;
}

body.notheme a:hover,
body.notheme button:hover {
  color: #727272 !important;
  text-shadow: -2px 0px 13px #727272;
}

/* WHEN TEXT IS SELECTED */
::-moz-selection { /* Code for Firefox */
  /* color: #727272; */
  background: #727272;
}

::selection {
  /* color: #727272; */
  background: #727272;
}
/* END WHEN TEXT IS SELECTED */