/* TO DELETE */






/* PAGINATION TO DELETE */
/* .pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: all;
} */


/* COLORS TO DELETE */

hr {
    border-color: #dee2e6;
    opacity: 1;
  }
  
  blockquote {
    color: #6c757d;
  }
  
  .form-floating label {
    color: #6c757d;
  }
  
  #mainNav {
    background-color: rgba(26, 29, 32, 1);
  }
  
  @media (min-width: 992px) {
    #mainNav {
      /* border-bottom: 1px solid transparent; */
      background-color: rgba(26, 29, 32, 0);
      background: transparent;
    }
  
    #mainNav .navbar-brand {
      color: #fff;
    }
  
    #mainNav .navbar-brand:focus,
    #mainNav .navbar-brand:hover {
      color: rgba(255, 255, 255, 0.8);
    }
  
    #mainNav .navbar-nav>li.nav-item>a.nav-link {
      color: #fff;
    }
  
    #mainNav .navbar-nav>li.nav-item>a.nav-link:focus,
    #mainNav .navbar-nav>li.nav-item>a.nav-link:hover {
      color: rgba(255, 255, 255, 0.8);
    }
  }
  
  @media (min-width: 992px) {
    #mainNav {
      transition: background-color 0.2s;
    }
  
    #mainNav.is-fixed {
      border-bottom: 1px solid white;
      background-color: rgba(255, 255, 255, 0.9);
    }
  
    #mainNav.is-fixed .navbar-brand {
      color: var(--bs-white);
    }
  
    #mainNav.is-fixed .navbar-brand:focus,
    #mainNav.is-fixed .navbar-brand:hover {
      color: #0085A1;
    }
  
    #mainNav.is-fixed .navbar-nav>li.nav-item>a {
      color: #212529;
    }
  
    #mainNav.is-fixed .navbar-nav>li.nav-item>a:focus,
    #mainNav.is-fixed .navbar-nav>li.nav-item>a:hover {
      color: #0085A1;
    }
  }
  
  header.masthead {
    background-color: #6c757d;
  }
  
  header.masthead .post-heading .meta a {
    color: #fff;
  }
  
  
  .post-preview>a:focus,
  .post-preview>a:hover {
    color: #0085A1;
  }
  
  .navbar-light .navbar-brand,
  .navbar-light .navbar-brand:focus,
  .navbar-light .navbar-brand:hover {
    color: rgba(255, 255, 255, 1)
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1)
  }
  
  .navbar-light .navbar-nav .nav-link:focus,
  .navbar-light .navbar-nav .nav-link:hover {
    color: rgba(0, 0, 0, .7)
  }
  
  .navbar-light .navbar-nav .nav-link.disabled {
    color: rgba(0, 0, 0, .3)
  }
  
  .navbar-light .navbar-nav .nav-link.active,
  .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(0, 0, 0, .9)
  }
  
  .navbar-light .navbar-toggler {
    color: rgba(255, 255, 255, 1);
    border-color: rgba(0, 0, 0, .1)
  }
  
  .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(0,0,0,0.55)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
  }
  
  .navbar-light .navbar-text {
    color: rgba(0, 0, 0, .55)
  }
  
  .navbar-light .navbar-text a,
  .navbar-light .navbar-text a:focus,
  .navbar-light .navbar-text a:hover {
    color: rgba(0, 0, 0, .9)
  }
  
  .navbar-dark .navbar-brand,
  .navbar-dark .navbar-brand:focus,
  .navbar-dark .navbar-brand:hover {
    color: #fff
  }
  
  .navbar-dark .navbar-nav .nav-link {
    color: hsla(0, 0%, 100%, .55)
  }
  
  .navbar-dark .navbar-nav .nav-link:focus,
  .navbar-dark .navbar-nav .nav-link:hover {
    color: hsla(0, 0%, 100%, .75)
  }
  
  .navbar-dark .navbar-nav .nav-link.disabled {
    color: hsla(0, 0%, 100%, .25)
  }
  
  .navbar-dark .navbar-nav .nav-link.active,
  .navbar-dark .navbar-nav .show>.nav-link {
    color: #fff
  }
  
  .navbar-dark .navbar-toggler {
    color: hsla(0, 0%, 100%, .55);
    border-color: hsla(0, 0%, 100%, .1)
  }
  
  .navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255,255,255,0.55)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
  }
  
  .navbar-dark .navbar-text {
    color: hsla(0, 0%, 100%, .55)
  }
  
  .navbar-dark .navbar-text a,
  .navbar-dark .navbar-text a:focus,
  .navbar-dark .navbar-text a:hover {
    color: #fff
  }